.products-designed-page{
}

.products-designed-page .products-designed-list{
    margin: 0 40px;
}

/* .products-designed-page .title h5{
    margin: 0 !important;
    color: #787878;
} */

.products-designed-page .list{
    flex-wrap: wrap;
    box-shadow: 3px 3px 4px rgb(154, 154, 154), -1px -1px 2px #ccc;
    border-radius: 8px;
    padding: 8px 16px;
}